.row-colour {
    background-color:#00bbbc;
}
.row-colour-bg {
    background-color:#008c88;
}

.row-colour-to {
    background-color:#efefef !important;
}


img{
     width: 100%;
     height: auto;
}

.img_tha{
    width: 50%;
    height: auto;
}


.txt{
    color: whitesmoke;
}

.navbar-brand {
    padding: 0px !important; /* firefox bug fix */
}
.navbar-brand>img {
    height: 100% !important;
    padding: 5px !important; /* firefox bug fix */
    width: auto !important;
}

body{
    padding-top: 0px;
}

.facebook
{
    background-image: url('/img/fb.png');
    background-position: -9px -7px;
    background-repeat: no-repeat;
    background-size: 39px 43px;
    padding-left: 41px;
    color: #000;
}

.margin-left{
    margin-left: 2px !important;
}

.margin-right{
    margin-right: 8px !important;
}

.margin-top{
    margin-top: -2px !important;
    padding-top: 100px !important;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}